{% load myfilter %}
<div class="panel-group category-products" id="accordian">
    <!--category-productsr-->
    {% for category in categories %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordian" href="#category_chilrens-{{category.id}}">
                        {% if category.id|has_children %}
                            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                            {{ category.name }} 
                        {% else %}
                        {{ category.name }} 
                        {% endif %}
                    </a>
                </h4>
            </div>
            {% if category.id|has_children %}
                <div id="category_chilrens-{{category.id}}" class="panel-collapse {% if category.name == category_display.category_parent.name %} in {% else %} collapse {% endif %}">
                    <div class="panel-body">
                        <ul>
                            <!-- `Category` 1 - n `Category` 
                                `category.category_set`
                            -->
                            {% for category_child in category.category_set.all %}
                                <li class="{% if category_child.name == category_display.name %}category-filter{% endif %}">
                                    <a href="{% url 'index'%}?category={{category_child.name}}">{{category_child.name}}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endfor %}
    
</div>
<!--/category-products-->