{% extends 'common/_base.html' %}

{% block title %}
	Shopping Cart
{% endblock title %}
{% block content %}
	{% load humanize %}
	{% load myfilter %}
	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="#">Home</a></li>
				  <li class="active">Shopping Cart</li>
				</ol>
			</div>
			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Item</td>
							<td class="description"></td>
							<td class="price">Price</td>
							<td class="quantity">Quantity</td>
							<td class="total">Total</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						<!-- data_detail: OrderDetail
							-> Product data_detail.product.image
						-->
						{% if user_ordered %}
							{% for data_detail in user_ordered.orderdetail_set.all %}
							<tr>
								<td class="cart_product" style="width: 200px;">
									<a href=""><img width="50%" src="{{ data_detail.product.image }}" alt=""></a>
								</td>
								<td class="cart_description">
									<h4><a href="">{{ data_detail.product.name }}</a></h4>
									<p>Web ID:  1089772{{ data_detail.product.id }}</p>
								</td>
								<td class="cart_price">
									<p>{{ data_detail.product.id|get_discount_product|intcomma }}đ</p>
								</td>
								<td class="cart_quantity">
									<div class="cart_quantity_button">
										<a class="cart_quantity_up" href="{% url 'change_product_quantity' product_id=data_detail.product.id action='increase' %}"> + </a>
										<input class="cart_quantity_input" type="text" name="quantity" value="{{ data_detail.quantity }}" autocomplete="off" size="2">
										<a class="cart_quantity_down" href="{% url 'change_product_quantity' product_id=data_detail.product.id action='decrease' %}"> - </a>
									</div>
								</td>
								<td class="cart_total">
									<p class="cart_total_price">{{ data_detail.amount |intcomma }}đ</p>
								</td>
								<td class="cart_delete">
									<a class="cart_quantity_delete" href="{% url 'remove_product_in_cart' product_id=data_detail.product.id %}"><i class="fa fa-times"></i></a>
								</td>
							</tr>
							{% endfor %}
						{% else %}
							<tr>
								<td colspan="6">
									Đơn hàng chưa có sản phẩm nào
								</td>
							</tr>
						{% endif %}	
					</tbody>
				</table>
			</div>
		</div>
	</section> <!--/#cart_items-->

	<section id="do_action">
		<div class="container">
			<div class="heading">
				<h3>What would you like to do next?</h3>
				<p>Choose if you have a discount code or reward points you want to use or would like to estimate your delivery cost.</p>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="total_area">
						<ul>
							<li>Shipping Cost <span>Free</span></li>
							<li>Total <span>{{total_amount|intcomma}}</span></li>
						</ul>
							<a class="btn btn-default update" href="">Update</a>
							<a class="btn btn-default check_out" href="{% url 'confirm_checkout' %}">Checkout</a>
					</div>
				</div>
			</div>
		</div>
	</section><!--/#do_action-->
	
{% endblock content %}